annotated-types==0.7.0
coverage==7.14.1
iniconfig==2.3.0
lief==0.17.6
loguru==0.7.3
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
pluggy==1.6.0
prompt-toolkit==3.0.52
pydantic==2.13.4
pydantic-core==2.46.4
pydevicetree==0.0.13
pygments==2.20.0
pylibfdt==1.7.2.post1
pyparsing==3.3.2
pytest==9.1.0
pytest-cov==7.1.0
pyyaml==6.0.3
rich==15.0.0
ruff==0.15.15
typing-extensions==4.15.0
typing-inspection==0.4.2
wcwidth==0.8.1
